<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 添加国内NuGet镜像源 -->
    <!-- <add key="nuget.cnblogs.com" value="https://nuget.cnblogs.com/v3/index.json" protocolVersion="3" /> -->
    <add key="huaweicloud" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" protocolVersion="3" />
    <add key="azure-cn" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
    <!-- 备用镜像 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <!-- 禁用官方源 -->
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>